node_modules
package-lock.json

*~
.cache
firebase-debug.log
firestore-debug.log
.firebase

public/*.html
public/styles

dist
icons


tags
TAGS
.zed

tsserver.log
__pycache__

.DS_Store
.vscode
*.aup3-shm
*.aup3-wal
*.aup3
public/audio/GHB/snare-roll-end.mp3
public/audio/GHB/snare-roll-end.wav
public/audio/GHB/snare-roll-start.mp3
public/audio/GHB/snare-roll-start.wav
