html {
  background: lightgrey;
  margin-top: 2rem;
}

#ui button {
  margin: 0.2rem;
}
#ui #sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 10vw;
  padding: 1rem;
  background-color: blue;
}

#ui #topbar {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 90vw;
  padding: 1rem;
  background: lightblue;
}

.note-input {
  background-position: center;
  background-size: contain;
  background-color: white;
  background-repeat: no-repeat;
  background-clip: padding-box;
  width: 3rem;
  height: 3rem;
}

#note-sb {
  background-image: url('./images/semibreve-icon.jpg');
}

#note-m {
  background-image: url('./images/minim-icon.jpg');
}

#note-c {
  background-image: url('./images/crotchet-icon.png');
}

#note-q {
  background-image: url('./images/quaver-icon.png');
}

#note-sq {
  background-image: url('./images/semiquaver-icon.png');
}

#note-ssq {
  background-image: url('./images/demisemiquaver-icon.png');
}

#note-hdsq {
  background-image: url('./images/hemidemisemiquaver-icon.png');
}
.current-note-input {
  background-color: yellow;
}

text {
  user-select: none;
}
