html {
  background: lightblue;
}

#ui {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 10vw;
  padding: 1rem;
  background-color: green;
}

#ui button {
  margin: 0.2rem;
  width: 100%;
}

.current-note-input {
  background-color: yellow;
}

text {
  user-select: none;
}
