@import './spinner.scss';

button {
  font-size: 1rem;
}

#buttons {
  padding: 1rem;
  border-bottom: 1px solid black;
}

#scores {
  padding: 1rem;
}

#horizontal-buttons {
  display: flex;
  justify-content: space-between;
}

#help-page {
  display: block;
  margin: 1rem 0;
}
table {
  padding: 0;
  border-spacing: 0;
  button {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }
}
.td-name {
  width: 50vw;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
