button {
  font-size: 1rem;
}

#buttons {
  position: relative;
  padding: 1rem;
  border-bottom: 1px solid black;
}

#horizontal-buttons {
  display: block;
  overflow: auto;
}
#new-score {
  float: left;
}
#sign-out {
  float: right;
}

#help-page {
  display: block;
  margin: 1rem 0;
}
table {
  border-spacing: 1rem 1rem;
}
.td-name {
  width: 50vw;
}
