.sentence {
  display: block;
  margin: 1rem 0;

  textarea,
  input {
    margin-top: 0.4rem;
    display: block;
    width: calc(100% - 0.8rem);
    padding: 0.4rem;
    font-family: serif;
    font-size: 0.9rem;
  }
}

form {
  margin: 0.5rem;
}

input[type='submit'] {
  margin: 1rem auto;
  display: block;
  font-size: 1.2rem;
  background: lightskyblue;
  border: 1px solid lightblue;
}

fieldset {
  margin-top: 1rem;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
}
