html {
  background: lightgrey;
}
* {
  font-family: sans-serif;
}

noscript {
  position: static;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#score {
  margin-top: 6rem;
}
label {
  font-size: 0.8rem;
}

#ui button:not(.textual) {
  margin: 0.2rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-color: white;
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  word-break: break-all;
  font-size: 0.8rem;
}
#ui #sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  /* width: 15vw; */
  padding: 1rem;
  padding-left: 2rem;
  background-color: lightblue;
  overflow: scroll;
}

/* a hack to fix the bottom of the menu being off-screen */
#ui #sidebar:after {
  content: "";
  height:50px;
  display: block;
}

#resize-ui {
  position: fixed;
  top: 0;
  left: auto;
  height: 100vh;
  width: 1rem;
  z-index: 1;
  cursor: col-resize;
}

#ui #topbar {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  padding: 1rem;
  background: lightblue;
  margin: 0;
}

#ui #topbar div {
  display: inline;
  margin: 0 2rem;
}

#tie {
  background-image: url('./images/tie.png');
}
#triplet {
  background-image: url('./images/tie.png');
  background-position: 0rem 0.5rem !important;
}

.delete {
  background-image: url('./images/bin.png');
  background-position: .6rem .6rem !important;
  background-size: 1.5rem 1.5rem !important;
}
.add {
  background-image: url('./images/plus.svg');
  background-position: .5rem .5rem !important;
  background-size: 1.7rem 1.7rem !important;
}

.add.text {
  width: 6.4rem !important; /* 6.4 = 2 x normal width + gap between them */
  text-align: center;
  padding-left: 3.4rem; /* 1 * normal width + gap */
}

svg {
  margin: 2vw;
}


#note-sb {
  background-image: url('./images/icons/semibreve.svg');
}

#note-m {
  background-image: url('./images/icons/minim.svg');
}

#note-c {
  background-image: url('./images/icons/crotchet.svg');
}

#note-q {
  background-image: url('./images/icons/quaver.svg');
}

#note-sq {
  background-image: url('./images/icons/semiquaver.svg');
}

#note-ssq {
  background-image: url('./images/icons/demisemiquaver.svg');
}

#note-hdsq {
  background-image: url('./images/icons/hemidemisemiquaver.svg');
}
#undo, #redo {
  background-position: .6rem .6rem !important;
  background-size: 1.5rem 1.5rem !important;
}
#undo {
  background-image: url('./images/undo.png');
}
#redo {
  background-image: url('./images/undo.png');
  transform: scaleX(-1);
}

#centre-text {
  width: 6.4rem !important; /* 6.4 = 2 x normal width + gap between them */
}

.highlighted {
  background-color: yellow !important;
}

text {
  user-select: none;
}

#browser-size-warning {
  display: none;
}
@media only screen and (max-width: 800px) {
  html {
    background: white;
  }
  #browser-size-warning {
    display: block;
    width: 80%;
    line-height: 2rem;
    text-align: center;
    margin: 30% auto;
    font-size: 1.5rem;
  }
  #score { display: none; }
  #ui { display: none; }
}

#dialogue-parent {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#dialogue-modal {
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
}

#dialogue-box {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  padding: 2rem;
  background: white;
  width: 75vw;
  display: block;
  margin: 0 auto;
}
#dialogue-box label {
  display: block;
}
#dialogue-box * {
  font-size: 1.1rem;
  margin: 1rem;
}
