button {
  font-size: 1rem;
}

#buttons {
  position: relative;
  padding: 1rem;
  border-bottom: 1px solid black;
}

#sign-out {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  margin: 1rem;
}

#help-page {
  display: block;
  margin: 1rem 0;
}
table {
  border-spacing: 1rem 1rem;
}
.td-name {
  width: 50vw;
}
