html {
  font-family: sans-serif;
}

main {
  width: 30vw;
  margin: 2vh auto;
}

button {
  font-size: 1rem;
}

#sign-out {
  position: absolute;
  top: 2rem;
  left: auto;
  right: 5rem;
}

.functions {
  display: block;
  padding: .5rem;
}
.functions button {
  margin: .5rem;
}
li {
  margin: .6rem 0;
  font-size: 1.1rem;
}

@media only screen and (max-width: 1200px) {
  main {
    width: 80vw;
  }
}
