html {
  width: 100vw;
  height: 100vh;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

main {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-clip: content-box;
  background-image: url('./images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.message {
  text-align: right;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 40vh;
  right: 10vw;
}

@media only screen and (max-width: 1000px) {
  .message {
    background-color: rgba(255, 255, 255, 0.7);
    position: static;
    display: block;
    margin-top: 40vh;
    margin-bottom: 0;
    text-align: left;
    padding: 2rem;
  }
  main {
    background-position: 50% 50%;
    height: 100vh;
    overflow: hidden;
  }
}
