#main {
  display: block;
}
main {
  width: 90vw;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
#main nav {
  position: static;
  height: auto;
  background: none;
}
main li {
  margin-top: 0.5rem;
}

span.keyboard-shortcut {
  font-family: monospace;
  font-style: italic;
}
span.location {
  background: lightblue;
  border-radius: 0.5rem;
}
span.button-name {
  border: 1px solid black;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.1rem;
}
span.option {
  font-family: monospace;
}

@media only screen and (min-width: 650px) {
  #main {
    display: flex;
    margin: 0;
    padding: 0;
  }
  #main * {
    flex: 1;
  }
  #main nav {
    position: sticky;
    top: 0;
    height: 100vh;
    background: lightblue;
    flex-grow: 0;
    padding: 0.5rem;
  }

  main {
    padding: 2rem;
    margin: 0 5vw;
  }

  nav a {
    color: black;
  }

  nav ul {
    /* list-style: none; */
    padding: 0rem 1rem;
  }
  nav ul li {
    margin: 0.3rem 0;
  }
  nav ul ul {
    list-style: circle;
  }
  nav ul ul li {
    margin: 0.1rem 0;
  }
}
