html {
  background: lightgrey;
}
* {
  font-family: sans-serif;
}

noscript {
  position: static;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#score {
  margin-top: 12rem;
}
label {
  font-size: 0.8rem;
  margin: 0.2rem;
}

button {
  border: none;
  outline: none;
  margin: 0.2rem;
  cursor: pointer;
}
button:active {
  border: 1px solid grey;
}
input[type='range'] {
  display: block;
}

#ui {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
#menu,
#topbar {
  display: flex;
  margin: 0;
  width: 100vw;
}
#login-warning {
  background: orange;
  padding: 0.5rem;
}

#menu {
  background: white;
  height: 2rem;
  padding: 0;
}
#topbar {
  background: lightblue;
  padding: 1rem;
  top: 2rem;
  width: calc(100vw - 1rem);
}

#menu button {
  height: 2rem;
  margin: 0;
}
#menu button:active {
  border-bottom: none;
}

#menu .selected {
  background: lightblue;
}

#topbar div {
  display: inline;
  margin: 0;
  padding: 0;
}
#topbar section {
  display: inline-flex;
  flex-direction: column;
  margin: 0 0.5rem;
}
#topbar button:not(.textual),
.fit-nicely {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-color: white;
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  font-size: 0.8rem;
}
.fit-nicely {
  width: auto;
}
button.textual {
  vertical-align: top;
}

#topbar label,
#topbar input {
  display: inline;
}
#topbar {
  padding-left: 0;
}

#topbar-main {
  flex: 1;
}

body.loading * {
  cursor: progress;
}

div .flex {
  display: inline-flex !important;
  flex-direction: column;
}

#tie {
  background-image: url('../images/tie.png');
}
#triplet {
  background-image: url('../images/triplet.png');
  /* background-position: 0rem 2rem !important; */
}

.delete {
  background-image: url('../images/bin.png');
  background-position: 0.75rem 0.75rem !important;
  background-size: 1.5rem 1.5rem !important;
}
.add {
  background-image: url('../images/plus.svg');
  background-position: 0.8rem 0.6rem !important;
  background-size: 1.7rem 1.7rem !important;
}

.add.text {
  width: 6.4rem !important; /* 6.4 = 2 x normal width + gap between them */
  text-align: center;
  word-break: keep-all;
  padding-left: 3.4rem; /* 1 * normal width + gap */
}
.double-width.text {
  width: 6.4rem !important;
  text-align: center;
  word-break: keep-all;
}

.twice-width {
  width: 6.4rem !important; /* 6.4 = 2 x normal width + gap between them */
  text-align: center;
  word-break: keep-all;
}

svg {
  margin: 2vw;
}

h2 {
  font-size: 1.1rem;
  user-select: none;
  margin: 0 0 0.3rem;
}
#note-sb {
  background-image: url('../images/icons/semibreve.svg');
}

#note-m {
  background-image: url('../images/icons/minim.svg');
}

#note-c {
  background-image: url('../images/icons/crotchet.svg');
}

#note-q {
  background-image: url('../images/icons/quaver.svg');
}

#note-sq {
  background-image: url('../images/icons/semiquaver.svg');
}

#note-ssq {
  background-image: url('../images/icons/demisemiquaver.svg');
}

#note-hdsq {
  background-image: url('../images/icons/hemidemisemiquaver.svg');
}
#undo {
  background-image: url('../images/undo.svg');
}
#redo {
  background-image: url('../images/undo.svg');
  transform: scaleX(-1);
}

#copy,
#paste {
  background-position: 0.75rem 0.75rem !important;
  background-size: 1.5rem 1.5rem !important;
}
#copy {
  background-image: url('../images/copy.png');
}

#paste {
  background-image: url('../images/paste.svg');
}

#centre-text {
  width: 6.4rem !important; /* 6.4 = 2 x normal width + gap between them */
}

.highlighted {
  background-color: yellow !important;
}

text {
  user-select: none;
}

#browser-size-warning {
  display: none;
}
#dialogue-parent {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#dialogue-modal {
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
}

#dialogue-box {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background: white;
  width: 75vw;
}
#dialogue-box label {
  display: block;
}
#dialogue-box * {
  font-size: 1.1rem;
  margin: 1rem;
}
input[type='number'] {
  width: 3rem !important;
}

#dialogue-box select {
  width: 3.5rem;
}

#doc {
  background: white;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 10vw;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 1rem;
  padding-bottom: 1.5rem;
  min-height: 4rem;
  white-space: pre-line;
}
/* Invisible as in no effect on layout */
.invisible-div {
  margin: 0 !important;
  padding: 0;
}
.quickstart-section {
  display: block;
  background: lightgrey;
}
.quickstart-section label {
  display: inline !important;
}
.quickstart-time-signature {
  display: inline;
}
.quickstart-flex {
  display: flex;
  flex-wrap: wrap;
}
.quickstart-flex label {
  display: block;
}
@media only screen and (max-width: 800px) {
  html {
    background: white;
  }
  #browser-size-warning {
    display: block;
    width: 80%;
    line-height: 2rem;
    text-align: center;
    margin: 30% auto;
    font-size: 1.5rem;
  }
  #score,
  #ui,
  #doc {
    display: none;
  }
}
